server:
  port: 8082

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          # No filters needed for auth service as it validates itself or is public
        
        - id: loan-service
          uri: lb://loan-service
          predicates:
            - Path=/loans/**
          filters:
            - AuthenticationFilter # Custom filter to validate JWT
  main:
    web-application-type: reactive

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

jwt:
  secret:
    key: thisisthesecretkeyievercreatedinmydevelopmentcareer

logging:
  level:
    org.springframework.cloud.gateway: INFO
    org.springframework.security: INFO
